<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="top">
        <div class="top_left">
          <!-- <span class="top_text top_text__city top_link">Санкт-Петербург</span> -->
          <select class="top_text top_text__city top_link">
            <option disabled>Выберите город</option>
            <option value="Peterburg" selected>Санкт-Петербург</option>
            <option value="Moscow">Москва</option>
            <option value="Vladimir">Владимир</option>
          </select>
          <a href="tel:+78126135838" class="top_text top_link">+7 (812) 613-58-38</a>
          <span class="top_text">
            Пн-пт 10:00&mdash;19:00, 
            сб-вс 10:00&mdash;17:00
          </span>
        </div>
        <div class="top_right">
          <a href="mailto:#" class="top_text top_text__right top_link">Напишите нам</a>
          <span class="top_text top_text__right">Свяжитесь с директором</span>
          <div class="top_communication">
            <a href="#" class="top_ico">
              <img src=<%= require("img/ico-telegram.svg") %> alt="telegram">
            </a>
            <a href="#" class="top_ico">
              <img src=<%= require("img/ico-skype.svg") %> alt="skype">
            </a>
            <a href="tel:#" class="top_ico">
              <img src=<%= require("img/ico-phone.svg") %> alt="phone">
            </a>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="control-panel">
          <div class="logo">
            <img src=<%= require("img/logo.png") %> alt="logo" class="logo_img">
            <p class="logo_text">
              Ваш эксперт на&nbsp;рынке <span class="logo_text__accentuated">3D</span>-техники
            </p>
          </div>
          <aside class="yandex">
            <a href="#">
              <img src=<%= require("img/yandex.png") %> alt="yandex" class="yandex_img">
            </a>
          </aside>
          <form action="#" class="search-form desktop">
            <div class="search-form_label">
              <input type="text"
                placeholder="Введите запрос, например, Formlabs Form 2"
                class="search-form_input"
              >
              <input type="submit" value="Найти" class="search-form_button-search">
            </div>
          </form>
          <button class="button-login"></button>
          <button class="button-cart"></button>
        </div>
        <form action="#" class="search-form notdesktop">
          <div class="search-form_label">
            <input type="text"
              placeholder="Введите запрос, например, Formlabs Form 2"
              class="search-form_input"
            >
            <input type="submit" value="Найти" class="search-form_button-search">
          </div>
        </form>
        <nav class="navigation desktop">
          <a href="#" class="navigation_link">Акции</a>
          <a href="#" class="navigation_link">О нас</a>
          <a href="#" class="navigation_link">Мероприятия</a>
          <a href="#" class="navigation_link">Оплата и доставка</a>
          <a href="#" class="navigation_link">Что с моим заказом?</a>
          <a href="#" class="navigation_link">Гос. закупки</a>
          <a href="#" class="navigation_link">Блог</a>
          <a href="#" class="navigation_link">Мастер-классы</a>
          <a href="#" class="navigation_link">Контакты</a>
        </nav>
        <ul class="services-panel desktop">
          <li class="services-panel_item">
            <span class="services-panel_item-text">3D-сканеры</span>
            <div class="services-panel_list">
              <a href="#" class="services-panel_link">Test 1</a>
              <a href="#" class="services-panel_link">Test 2</a>
              <a href="#" class="services-panel_link">Test 3</a>
              <a href="#" class="services-panel_link">Test 4</a>
            </div>
          </li>
          <li class="services-panel_item">
            <span class="services-panel_item-text">Станки</span>
            <div class="services-panel_list">
              <a href="#" class="services-panel_link">Test 1</a>
              <a href="#" class="services-panel_link">Test 2</a>
              <a href="#" class="services-panel_link">Test 3</a>
              <a href="#" class="services-panel_link">Test 4</a>
            </div>
          </li>
          <li class="services-panel_item">
            <span class="services-panel_item-text">Роботы</span>
            <div class="services-panel_list">
              <a href="#" class="services-panel_link">Длинное название некоторой секции</a>
              <a href="#" class="services-panel_link">Test 2</a>
              <a href="#" class="services-panel_link">Test 3</a>
              <a href="#" class="services-panel_link">Test 4</a>
              <a href="#" class="services-panel_link">Test 5</a>
            </div>
          </li>
          <li class="services-panel_item">
            <span class="services-panel_item-text">Образование</span>
            <div class="services-panel_list">
              <a href="#" class="services-panel_link">Test 1</a>
              <a href="#" class="services-panel_link">Test 2</a>
              <a href="#" class="services-panel_link">Test 3</a>
              <a href="#" class="services-panel_link">Test 4</a>
            </div>
          </li>
          <li class="services-panel_item">
            <span class="services-panel_item-text">Стоматологам</span>
            <div class="services-panel_list">
              <a href="#" class="services-panel_link">Test 1</a>
              <a href="#" class="services-panel_link">Test 2</a>
              <a href="#" class="services-panel_link">Test 3</a>
              <a href="#" class="services-panel_link">Test 4</a>
            </div>
          </li>
          <li class="services-panel_item">
            <span class="services-panel_item-text">Гаджеты</span>
            <div class="services-panel_list">
              <a href="#" class="services-panel_link">Test 1</a>
              <a href="#" class="services-panel_link">Test 2</a>
              <a href="#" class="services-panel_link">Test 3</a>
              <a href="#" class="services-panel_link">Test 4</a>
            </div>
          </li>
          <li class="services-panel_item">
            <span class="services-panel_item-text">Материалы</span>
            <div class="services-panel_list">
              <a href="#" class="services-panel_link">Test 1</a>
              <a href="#" class="services-panel_link">Test 2</a>
              <a href="#" class="services-panel_link">Test 3</a>
              <a href="#" class="services-panel_link">Test 4</a>
              <a href="#" class="services-panel_link">Test 5</a>
              <a href="#" class="services-panel_link">Test 6</a>
            </div>
          </li>
          <li class="services-panel_item">
            <span class="services-panel_item-text">ПО</span>
            <div class="services-panel_list">
              <a href="#" class="services-panel_link">Test 1</a>
              <a href="#" class="services-panel_link">Test 2</a>
              <a href="#" class="services-panel_link">Test 3</a>
              <a href="#" class="services-panel_link">Test 4</a>
              <a href="#" class="services-panel_link">Test 5</a>
              <a href="#" class="services-panel_link">Test 6</a>
              <a href="#" class="services-panel_link">Test 7</a>
              <a href="#" class="services-panel_link">Test 8</a>
              <a href="#" class="services-panel_link">Test 9</a>
              <a href="#" class="services-panel_link">Test 10</a>
              <a href="#" class="services-panel_link">Test 11</a>
              <a href="#" class="services-panel_link">Test 12</a>
            </div>
          </li>
          <li class="services-panel_item">
            <span class="services-panel_item-text">Решения</span>
            <div class="services-panel_list">
              <a href="#" class="services-panel_link">Test 1</a>
              <a href="#" class="services-panel_link">
                А что если будет очень длинное название некоторой случайной секции которую может 
                никто и не увидит
              </a>
            </div>
          </li>
          <li class="services-panel_item">
            <span class="services-panel_item-text">Учебный центр</span>
            <div class="services-panel_list">
              <a href="#" class="services-panel_link">Test 1</a>
              <a href="#" class="services-panel_link">Test 2</a>
              <a href="#" class="services-panel_link">Test 3</a>
              <a href="#" class="services-panel_link">Test 4</a>
            </div>
          </li>
          <li class="services-panel_item">
            <span class="services-panel_item-text">Услуги</span>
            <div class="services-panel_list">
              <a href="#" class="services-panel_link">Test 1</a>
              <a href="#" class="services-panel_link">Test 2</a>
              <a href="#" class="services-panel_link">Test 3</a>
              <a href="#" class="services-panel_link">
                А что если будет очень длинное название некоторой случайной секции которую может 
                никто и не увидит и секция будет на границе страницы
              </a>
            </div>
          </li>
        </ul>
        <div class="mobile-control-panel notdesktop">
          <nav class="navigation-mobile">
            <label for="checkbox-for-navigation-mobile_button" class="navigation-mobile_button">
              Меню
            </label>
            <input type="checkbox"
              class="hidden-checkbox"
              id="checkbox-for-navigation-mobile_button"
            >
            <div class="navigation-mobile_panel">
              <a href="#" class="navigation_link">Акции</a>
              <a href="#" class="navigation_link">О нас</a>
              <a href="#" class="navigation_link">Мероприятия</a>
              <a href="#" class="navigation_link">Оплата и доставка</a>
              <a href="#" class="navigation_link">Что с моим заказом?</a>
              <a href="#" class="navigation_link">Гос. закупки</a>
              <a href="#" class="navigation_link">Блог</a>
              <a href="#" class="navigation_link">Мастер-классы</a>
              <a href="#" class="navigation_link">Контакты</a>
              <ul class="services-panel notdesktop">
                <li class="services-panel_item">
                  <span class="services-panel_item-text">3D-сканеры</span>
                  <div class="services-panel_list __hide">
                    <a href="#" class="services-panel_link">Test 1</a>
                    <a href="#" class="services-panel_link">Test 2</a>
                    <a href="#" class="services-panel_link">Test 3</a>
                    <a href="#" class="services-panel_link">Test 4</a>
                  </div>
                </li>
                <li class="services-panel_item">
                  <span class="services-panel_item-text">Станки</span>
                  <div class="services-panel_list __hide">
                    <a href="#" class="services-panel_link">Test 1</a>
                    <a href="#" class="services-panel_link">Test 2</a>
                    <a href="#" class="services-panel_link">Test 3</a>
                    <a href="#" class="services-panel_link">Test 4</a>
                  </div>
                </li>
                <li class="services-panel_item">
                  <span class="services-panel_item-text">Роботы</span>
                  <div class="services-panel_list __hide">
                    <a href="#" class="services-panel_link">Длинное название некоторой секции</a>
                    <a href="#" class="services-panel_link">Test 2</a>
                    <a href="#" class="services-panel_link">Test 3</a>
                    <a href="#" class="services-panel_link">Test 4</a>
                    <a href="#" class="services-panel_link">Test 5</a>
                  </div>
                </li>
                <li class="services-panel_item">
                  <span class="services-panel_item-text">Образование</span>
                  <div class="services-panel_list __hide">
                    <a href="#" class="services-panel_link">Test 1</a>
                    <a href="#" class="services-panel_link">Test 2</a>
                    <a href="#" class="services-panel_link">Test 3</a>
                    <a href="#" class="services-panel_link">Test 4</a>
                  </div>
                </li>
                <li class="services-panel_item">
                  <span class="services-panel_item-text">Стоматологам</span>
                  <div class="services-panel_list __hide">
                    <a href="#" class="services-panel_link">Test 1</a>
                    <a href="#" class="services-panel_link">Test 2</a>
                    <a href="#" class="services-panel_link">Test 3</a>
                    <a href="#" class="services-panel_link">Test 4</a>
                  </div>
                </li>
                <li class="services-panel_item">
                  <span class="services-panel_item-text">Гаджеты</span>
                  <div class="services-panel_list __hide">
                    <a href="#" class="services-panel_link">Test 1</a>
                    <a href="#" class="services-panel_link">Test 2</a>
                    <a href="#" class="services-panel_link">Test 3</a>
                    <a href="#" class="services-panel_link">Test 4</a>
                  </div>
                </li>
                <li class="services-panel_item">
                  <span class="services-panel_item-text">Материалы</span>
                  <div class="services-panel_list __hide">
                    <a href="#" class="services-panel_link">Test 1</a>
                    <a href="#" class="services-panel_link">Test 2</a>
                    <a href="#" class="services-panel_link">Test 3</a>
                    <a href="#" class="services-panel_link">Test 4</a>
                    <a href="#" class="services-panel_link">Test 5</a>
                    <a href="#" class="services-panel_link">Test 6</a>
                  </div>
                </li>
                <li class="services-panel_item">
                  <span class="services-panel_item-text">ПО</span>
                  <div class="services-panel_list __hide">
                    <a href="#" class="services-panel_link">Test 1</a>
                    <a href="#" class="services-panel_link">Test 2</a>
                    <a href="#" class="services-panel_link">Test 3</a>
                    <a href="#" class="services-panel_link">Test 4</a>
                    <a href="#" class="services-panel_link">Test 5</a>
                    <a href="#" class="services-panel_link">Test 6</a>
                    <a href="#" class="services-panel_link">Test 7</a>
                    <a href="#" class="services-panel_link">Test 8</a>
                    <a href="#" class="services-panel_link">Test 9</a>
                    <a href="#" class="services-panel_link">Test 10</a>
                    <a href="#" class="services-panel_link">Test 11</a>
                    <a href="#" class="services-panel_link">Test 12</a>
                  </div>
                </li>
                <li class="services-panel_item">
                  <span class="services-panel_item-text">Решения</span>
                  <div class="services-panel_list __hide">
                    <a href="#" class="services-panel_link">Test 1</a>
                    <a href="#" class="services-panel_link">
                      А что если будет очень длинное название некоторой случайной секции которую может 
                      никто и не увидит
                    </a>
                  </div>
                </li>
                <li class="services-panel_item">
                  <span class="services-panel_item-text">Учебный центр</span>
                  <div class="services-panel_list __hide">
                    <a href="#" class="services-panel_link">Test 1</a>
                    <a href="#" class="services-panel_link">Test 2</a>
                    <a href="#" class="services-panel_link">Test 3</a>
                    <a href="#" class="services-panel_link">Test 4</a>
                  </div>
                </li>
                <li class="services-panel_item">
                  <span class="services-panel_item-text">Услуги</span>
                  <div class="services-panel_list __hide">
                    <a href="#" class="services-panel_link">Test 1</a>
                    <a href="#" class="services-panel_link">Test 2</a>
                    <a href="#" class="services-panel_link">Test 3</a>
                    <a href="#" class="services-panel_link">
                      А что если будет очень длинное название некоторой случайной секции которую может 
                      никто и не увидит и секция будет на границе страницы
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main class="main">
      <img src=<%= require("img/photo.jpg") %> alt="photo" class="photo">
      <section class="main-content">
        <div class="resume">
          <p class="resume_call">
            Твоя работа в&nbsp;крупнейшем интеграторе цифрового производства
          </p>
          <button class="resume_button-submit">Отправить резюме</button>
          <p class="resume_agreement">
            Нажимая кнопку, вы&nbsp;соглашаетесь на&nbsp;обработку персональных данных.
          </p>
        </div>
        <div class="text-block">
          <p class="text-block_text">
            Top 3D Shop&nbsp;&mdash; лидер по&nbsp;продажам 3D-оборудования 
            в&nbsp;России и&nbsp;странах СНГ. В&nbsp;2018&nbsp;мы&nbsp;стали лучшим интегратором 
            3D оборудования по&nbsp;аддитивным технологиям и&nbsp;цифровому производству 
            по&nbsp;версии <a href="#" class="text-block_accentuated-link">3D Print Awards</a>.
          </p>
          <p class="text-block_text">
            За&nbsp;6 лет работы более 10&nbsp;000 клиентов по&nbsp;всей России и&nbsp;СНГ 
            выбрали Top 3D Shop. В&nbsp;2018 наш оборот составил 600&nbsp;млн.&nbsp;рублей, 
            в&nbsp;компании работает более 100 сотрудников.
          </p>
          <p class="text-block_text">
            Новая цель: 1&nbsp;млрд торгового оборота в&nbsp;этом году и&nbsp;выход 
            на&nbsp;международные рынки. Если вы&nbsp;&mdash; целеустремленный специалист, 
            готовый учиться новым навыкам и&nbsp;учить других, мыслите не&nbsp;просто как 
            исполнитель, а&nbsp;как владелец своего направления, то&nbsp;нам по&nbsp;пути!
          </p>
        </div>
      </section>
      <section class="onesee">
        <div class="onesee_heading">
          <span class="onesee_heading-text">Лучше один раз увидеть:</span>
          <div class="line"></div>
        </div>
        <div class="onesee_links">
          <a href="#" class="onesee_link">
            Как устроена наша компания изнутри 
          </a>
          <a href="#" class="onesee_link">
            Как создавалась компания&nbsp;&mdash; необычная история
          </a>
          <a href="#" class="onesee_link">
            Читай о&nbsp;нас на&nbsp;3D Today
          </a>
        </div>
      </section>
      <section class="video-about">
        <span class="video-about_heading">Видео о нас</span>
        <div class="video-about_control-panel">
          <button class="video-about_control-panel__left-control"></button>
          <button class="video-about_control-panel__right-control"></button>
        </div>
        <div class="video-row">
          <video class="video-row_video"
            controls
            poster=<%= require("img/poster-video-1.jpg") %>
          >
            <source src="#">
          </video>
          <video class="video-row_video"
            controls
            poster=<%= require("img/poster-video-2.jpg") %>
          >
            <source src="#">
          </video>
        </div>
      </section>
    </main>
  </div>
</body>
</html>
